@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Ppneuemontreal Variable';
  src: url('/fonts/ppneuemontreal-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
